name: Deploy Frontend to GitHub Pages

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build -- --base-href "/sigbu-frontend/" --deploy-url "/sigbu-frontend/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/sigbu-frontend/browser  # cambia si tu carpeta de build es otra

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
